epEBench/
GDBInstructionScanner/
prototyptaskscpp/build/
prototyptaskscpp/ci.py
prototyptaskscpp/gdb/
prototyptaskscpp/main
prototyptaskscpp/seq/
prototyptaskscpp/cmake-build-debug/
prototyptaskscpp/CMakeFiles
prototyptaskscpp/.idea/
prototyptaskscpp/CMakeCache.txt
prototyptaskscpp/cmake_install.cmake
tests/ci.py
tests/myprog
tests/test.c
tests/test.seq
sampleapp/.idea/
sampleapp/cmake-build-debug/
sampleapp/sampleapp
sampleapp/CMakeFiles/
sampleapp/ci.py
sampleapp/sampleapp.gdb.log
sampleapp/sampleapp.seq
uarch-configure/
experiment/build
experiment/.idea/
experiment/CMakeFiles/
experiment/cmake-build-debug/
experiment/experiment
experiment/main
experiment/gen/
experiment/logs/counter.txt
apptasks/gdb/
apptasks/main
apptasks/cmake-build-debug/
edgedetection
apptasks/.idea/
rapl/
