epEBench/
GDBInstructionScanner/
1_tasktype_analyzer/build/
1_tasktype_analyzer/gdb/
1_tasktype_analyzer/main
1_tasktype_analyzer/seq/
1_tasktype_analyzer/cmake-build-debug/
1_tasktype_analyzer/CMakeFiles/
1_tasktype_analyzer/.idea/
1_tasktype_analyzer/CMakeCache.txt
1_tasktype_analyzer/cmake_install.cmake
tests/ci.py
tests/myprog
tests/test.c
tests/test.seq
sampleapp/.idea/
sampleapp/cmake-build-debug/
sampleapp/sampleapp
sampleapp/CMakeFiles/
sampleapp/ci.py
sampleapp/sampleapp.gdb.log
sampleapp/sampleapp.seq
uarch-configure/
3_tasktype_estimator/build/
3_tasktype_estimator/.idea/
3_tasktype_estimator/CMakeFiles/
3_tasktype_estimator/cmake-build-debug/
3_tasktype_estimator/experiment
3_tasktype_estimator/main
3_tasktype_estimator/tools
3_tasktype_estimator/cmake_install.cmake
3_tasktype_estimator/logs/output/
2_apptask_analyzer/gdb/
2_apptask_analyzer/main
2_apptask_analyzer/cmake-build-debug/
2_apptask_analyzer/.idea/
2_apptask_analyzer/CMakeFiles
2_apptask_analyzer/CMakeCache.txt
2_apptask_analyzer/cmake_install.cmake
edgedetection
rapl/
